#Titulo {
    color: tomato
}

p.Texto {
    color: slateblue;
}

p.Especial {
    color: mediumspringgreen;
}

div p {
    color: aquamarine;
}

div h2, div h3 {
    color: blue;
}

* {
    font-size: 24px;
    /* color: black; */
}

/* ola ke ase */
/*
    Comentario muchas lineas
*/

/*
.color {
    color: #38f728;
}

.color {
    color: rgb(0, 237, 182);
}
*/

.color {
    /* border: 5px red outset; */
/*
    dotted
    dashed
    solid
    double
    groove
    ridge
    inset
    outset
    none
    hidden
*/
    border-style: solid;
    border-color: blueviolet;
    border-radius: 5px;
    border-width: 5px;
}

#fondo {
    background-color: rgba(255,0,0);
    /* opacity: 0.3; */
    height: 200px;
    background-image: url('img/coffee.png');
    background: #f00 url('/img/coffee.png') repeat-y center bottom / 100px 100px;
}

.margen {
    background-color: chocolate;
    margin: 15px;
    padding: 30px 15px 5px;
    border: solid 1px black;
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid red;
}

.text {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    text-decoration: overline;
    text-shadow: 3px 5px 5px blue;
}

a:link {
    color: blueviolet;
}

a:visited {
    color: gray;
}

a:hover {
    color: yellow;
}

a:active {
    color: red;
}

ul {
    background-color: cyan;
    list-style-type: circle;
    /* padding-left: 0; */
    /* list-style-position: inside; */  
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: solid 1px #eee;
    padding 5px;
}

th {
    background-color: tomato;
    color: white;
    text-align: left;
}


tr:nth-child(even) {
    background-color: #eee;
}

tr:hover {
    background-color: #aaa;
    cursor: pointer;
}

span {
    display: block;
    /* display: none; */
    /* visibility: hidden; */
    max-width: 300px;
    background-color: lightblue;
}

.inline {
    display: inline;
}